body{
    background-color: #f9f9f9;
}

div#div_login {
    width: 400px;
    height: 200px;
}

.center-in-center{
            position: absolute;
            top: 10%;
            left: 33%;
}

h1#h1_login,.center{
    text-align: center;
}

.center-in-center2{   
                position: absolute;   
                top: 50%;   
                left: 50%;   
                -webkit-transform: translate(-50%, -50%);   
                -moz-transform: translate(-50%, -50%);   
                -ms-transform: translate(-50%, -50%);   
                -o-transform: translate(-50%, -50%);   
                transform: translate(-50%, -50%);   
}